<div class="blog-header">
  <div class="container">
    <h1 class="blog-title"><a href="\"><i class="fa fa-home" aria-hidden="true"></i></a>  Coder's Blog</h1>
    <p class="lead blog-description"></p>
  </div>
</div>

<% @blogs.each do |blog| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
            <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
				<p>
    				<%= blog.body %>
  				</p>
		  </div>
        </div><!-- /.blog-main -->        
      </div><!-- /.row -->
     

    </div><!-- /.container -->
<% end %>
<div class="container">
 <p>
        <a href="#">Back to top</a>
      </p> 
</div>
      
    
      