<div class="container bootstrap snippet">
    <div class="col-md-12">
        <div class="panel panel-white profile-widget panel-shadow">
            <div class="row">
                <div class="col-sm-12">
                    <div class="image-container bg2 "> 
                    	
                        <%= image_tag 'simpson.jpg', class:"avatar" ,alt:"avatar" %> 
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="details">
                        <h2>Nadim Rai</h2>
                        <div>Lives in Wan Chai, Hong Kong</div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<br>
<div class="container bootstrap snippet">
    <div class="col-md-12">
        <div class="panel panel-white profile-widget panel-shadow">
            <div class="row">
                <div class="col-sm-12">
                    <div class="image-container bg3 "> 
                    	
                        <%= image_tag 'skill-set.jpg', class:"avatar" ,alt:"avatar" %> 
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="details">
                        <div class="row skills-row">
                    		<div class="col-md-6">
                        		<ul class="skills-list">
		                            <li><span class="skills-title">HTML5</span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span></li>
		                            <li><span class="skills-title">CSS3</span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span></li>
		                            <li><span class="skills-title">JAVASCRIPT</span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star grey"></span></li>
		                            <li><span class="skills-title">JQUERY</span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star grey"></span>
		                            <span class="glyphicon glyphicon-star grey"></span></li>
		                            <li><span class="skills-title">BOOTSTRAP</span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star grey"></span></li>
		                            <li><span class="skills-title">ANGULAR JS</span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star grey"></span>
		                            <span class="glyphicon glyphicon-star grey"></span>
		                            <span class="glyphicon glyphicon-star grey"></span></li>
                        		</ul>
                    		</div>
		                    <div class="col-md-6">
		                        <ul class="skills-list">
		                            <li><span class="skills-title">EMBER JS</span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star grey"></span>
		                            <span class="glyphicon glyphicon-star grey"></span></li>
		                            <li><span class="skills-title">RUBY on RAILS</span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star filled"></span>
		                            <span class="glyphicon glyphicon-star grey"></span></li>
		                        </ul>
		                    </div>
                		</div><!-- End of Row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                                              