<div class="container">
      <div class="row home-page">
        <div class="col-sm-8">
          <div class="blog-post-home">
            <%= image_tag 'computer.jpeg', width: "680", height:"620" %>
          </div><!-- /.blog-post --> 
        </div><!-- /.blog-main -->
        <div class="col-sm-3 offset-sm-1">
          <div class="sidebar-module sidebar-module-inset-home">
            <h4><%= link_to 'About' , about_path %></h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod.Aenean lacinia bibendum nulla.</p>
          </div>
          <div class="sidebar-module-home">
            <h4>Blogs</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet.</p>
          </div>

          <div class="sidebar-module-inset-home">
            <h4>Portfolio</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis </p>
          </div>

          <div class="sidebar-module-home">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/NadimRai" target="_blank">GitHub</a></li>   
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row home-page -->

   </div> 